# 01. Data

In [ ]:
!pip install yfinance

In [3]:
from datetime import datetime, timedelta

import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns 
import yfinance as yf

sns.set()
pd.options.display.float_format = '{:.4f}'.format

In [31]:
n_years = 10

## 01.01. Close Values

In [32]:
def get_close_values(symbols,n_years):
  end = datetime.now()
  start = end - timedelta(days = 365 * n_years)
  data = yf.download(symbols,start,end)
  return data['Close'].copy()

In [33]:
symbols = ['VWO','PDBC','SPY','VTWO','ESGU','QQQ','VTI','SCHD','VCLT']
close = get_close_values(symbols,n_years)
close.describe()

[*********************100%***********************]  9 of 9 completed

           ESGU      PDBC       QQQ  ...       VTI      VTWO       VWO
count 1290.0000 1813.0000 2516.0000  ... 2516.0000 2516.0000 2516.0000
mean    69.7548   17.0736  157.1768  ...  127.9557   54.8950   41.9964
std     16.5345    2.3357   87.7042  ...   42.9011   15.8002    5.0118
min     48.2600   11.2200   59.6800  ...   65.5400   29.3000   28.5500
25%     58.0650   15.8000   95.0050  ...   98.5700   44.7388   39.1775
50%     63.7150   16.9500  123.7650  ...  117.2350   52.0225   41.7400
75%     78.2850   18.0900  187.2400  ...  148.3425   62.4588   44.2600
max    108.4600   25.2500  403.9900  ...  242.9700   98.0100   56.4900

[8 rows x 9 columns]

## 01.02. Log Return Values

In [34]:
def get_log_returns(close):
  log_returns = np.log(close/close.shift())
  return log_returns

In [35]:
log_returns = get_log_returns(close)
log_returns.describe()

           ESGU      PDBC       QQQ  ...       VTI      VTWO       VWO
count 1289.0000 1812.0000 2515.0000  ... 2515.0000 2515.0000 2515.0000
mean     0.0006   -0.0003    0.0007  ...    0.0005    0.0004    0.0001
std      0.0122    0.0136    0.0121  ...    0.0104    0.0131    0.0127
min     -0.1279   -0.3088   -0.1276  ...   -0.1208   -0.1447   -0.1288
25%     -0.0027   -0.0055   -0.0040  ...   -0.0035   -0.0058   -0.0068
50%      0.0002    0.0006    0.0012  ...    0.0007    0.0010    0.0007
75%      0.0054    0.0062    0.0068  ...    0.0053    0.0073    0.0073
max      0.0925    0.0466    0.0813  ...    0.0907    0.0919    0.0677

[8 rows x 9 columns]

## 01.03. Return & Risk

In [41]:
summary = log_returns.agg(['mean','std']).T
summary.columns = ['Mean','Std']
summary

        Mean    Std
ESGU  0.0006 0.0122
PDBC -0.0003 0.0136
QQQ   0.0007 0.0121
SCHD  0.0004 0.0099
SPY   0.0005 0.0103
VCLT  0.0001 0.0070
VTI   0.0005 0.0104
VTWO  0.0004 0.0131
VWO   0.0001 0.0127

## 01.04. Annualizing Return & Risk


It is common to annualize the return and risk. It's more meaningful and it fixes the problem if the data came from different timeframes (daily data / monthly data / ...)

In [42]:
summary['Ann_Mean'] = summary['Mean'] * 250
summary['Ann_Std'] = summary['Std'] * np.sqrt(250)
summary

        Mean    Std  Ann_Mean  Ann_Std
ESGU  0.0006 0.0122    0.1429   0.1923
PDBC -0.0003 0.0136   -0.0731   0.2150
QQQ   0.0007 0.0121    0.1791   0.1918
SCHD  0.0004 0.0099    0.1071   0.1569
SPY   0.0005 0.0103    0.1216   0.1622
VCLT  0.0001 0.0070    0.0160   0.1114
VTI   0.0005 0.0104    0.1198   0.1649
VTWO  0.0004 0.0131    0.0951   0.2065
VWO   0.0001 0.0127    0.0182   0.2002

## 01.05. CARG

In [45]:
summary['CAGR'] = np.exp(summary['Ann_Mean']) - 1
summary

        Mean    Std  Ann_Mean  Ann_Std    carg    CAGR
ESGU  0.0006 0.0122    0.1429   0.1923  0.1536  0.1536
PDBC -0.0003 0.0136   -0.0731   0.2150 -0.0704 -0.0704
QQQ   0.0007 0.0121    0.1791   0.1918  0.1962  0.1962
SCHD  0.0004 0.0099    0.1071   0.1569  0.1130  0.1130
SPY   0.0005 0.0103    0.1216   0.1622  0.1293  0.1293
VCLT  0.0001 0.0070    0.0160   0.1114  0.0162  0.0162
VTI   0.0005 0.0104    0.1198   0.1649  0.1273  0.1273
VTWO  0.0004 0.0131    0.0951   0.2065  0.0998  0.0998
VWO   0.0001 0.0127    0.0182   0.2002  0.0184  0.0184